<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="../static/images/perroico.png">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PATITAS FELICES</title>
		<meta charset="ISO-8859-1">
	</head>
	<body>
		<header>
			<h1>PATITAS FELICES</h1>
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejossalud.html">Consejos de Salud</a></li>
					<li><a href="paseos.html">Servicios de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contactos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<h2>SUCURSALES</h2>
			<article>
				<h3>Patitas Felices en Buenos Aires</h3>
				<p>Dirección: Pedro de Mendoza 1835</p>
				<p>Horarios: Lunes a Vierenes - 8:00hs. a 13:00hs</p>
				<p>Télefono: 1139423453</p>
			</article>
			<article>
				<h3>Patitas Felices en Córdoba</h3>
				<p>Dirección: Av. Colon 1775 Barrio Alberdi</p>
				<p>Horarios: Lunes a Vierenes - 8:00hs. a 13:00hs</p>
				<p>Télefono: 35139423453</p>
			</article>
			<article>
				<h3>Patitas Felices en Salta</h3>
				<p>Dirección: Alvarado 697</p>
				<p>Horarios: Lunes a Vierenes - 8:00hs. a 13:00hs</p>
				<p>Télefono: 38739423453</p>
			</article>
		</section>
		<footer>
			<p>Copyright 2023 - Patitas Felices - Diseñado por Grupo 2 – Jujuy – República Argentina</p>
		</footer>
	</body>
</html>